[Desktop Entry]
Version=1.0
Type=Application
Name=Display Settings
Comment=Control Panel for OBRevenge
Categories=Utility;Settings
Exec=arandr-wr.sh
Icon=preferences-desktop-theme
