[Desktop Entry]
Type=Application
Name=CLI Install
Comment=Installer for OBRevenge
Categories=Utility;
Exec=sudo lxterminal -e /abif-master/abif
Icon=/usr/share/icons/Faenza/places/scalable/archlinux-logo.svg
