[Desktop Entry]
Type=Application
Name=logout
Comment=logout utility
Categories=Utility;
Exec=oblogout
Icon=/usr/share/icons/Faenza/apps/scalable/gnome-session-logout.svg
