[Desktop Entry]
Version=1.0
Name=Firewall Configuration
Name[ar]=إعدادات الجدار الناري
Name[ast]=Configuración del tornafueos
Name[bg]=Конфигуриране на защитна стена
Name[cs]=Nastavení firewallu
Name[da]=Firewallkonfiguration
Name[de]=Firewall-Konfiguration
Name[el]=Ρύθμιση τείχους προστασίας
Name[en_AU]=Firewall Configuration
Name[en_GB]=Firewall Configuration
Name[eo]=Fajroŝirmilaj agordoj
Name[es]=Configuración del cortafuegos
Name[et]=Tulemüüri seadistus
Name[fi]=Palomuurin asetukset
Name[fr]=Configuration du pare-feu
Name[gl]=Configuración da devasa
Name[hr]=Postavke vatrozida
Name[hrx]=Fajř-vannt-ʃtelluŋŋ
Name[hu]=Tűzfalbeállítás
Name[id]=Konfigurasi firewall
Name[it]=Configurazione del firewall
Name[ja]=ファイアウォール設定ツール
Name[ko]=방화벽 설정
Name[ku]=Veavakirina Dîwarê Ewlehiyê
Name[lv]=Ugunsmūra konfigurācija
Name[ms]=Konfigurasi Dinding Api
Name[nb]=Konfigurasjon av brannmur
Name[nl]=Firewall-instellingen
Name[pl]=Konfiguracja zapory sieciowej
Name[pt]=Configuração da Firewall
Name[pt_BR]=Configuração do Firewall
Name[ro]=Configurare Firewall
Name[ru]=Настройка межсетевого экрана
Name[si]=ගිනිපවුරු සැකසුම්
Name[sk]=Nastavenia firewall
Name[sl]=Nastavitev požarnega zidu
Name[sq]=Konfigurimi i Murit mbrojtës
Name[sr]=Подешавање мрежне баријере
Name[sv]=Brandväggs-konfiguration
Name[ta]=தீச்சுவர் அமைப்பு
Name[tr]=Güvenlik Duvarı Yapılandırması
Name[uk]=Налаштування брандмауера
Name[vi]=Cấu hình tường lửa
Name[zh_CN]=防火墙配置
Name[zh_TW]=防火牆設定
Comment=An easy way to configure your firewall
Comment[ast]=Un mou cenciellu de configurar el to tornafueos
Comment[bg]=Най-лесният начин да конфигурирате вашата защитна стена
Comment[cs]=Jednoduchá konfigurace firewallu
Comment[da]=En nem måde at konfigurere din firewall på
Comment[de]=Eine einfache Möglichkeit Ihre Firewall zu konfigurieren
Comment[en_GB]=An easy way to configure your firewall
Comment[es]=Una manera sencilla de configurar tu cortafuegos
Comment[et]=Lihtne moodus seadistamaks tulemüüri
Comment[fi]=Hallitse palomuuria vaivatta
Comment[fr]=Une façon simple de configurer votre pare-feu
Comment[gl]=Unha forma doada de configurar a devasa
Comment[hr]=Jednostavan način za konfiguraciju vašeg vatrozida
Comment[hu]=Egyszerű módszer a tűzfala beállítására
Comment[it]=Un modo semplice per configurare il firewall
Comment[ja]=ファイアウォールの設定を簡単に行えます
Comment[ko]=당신의 방화벽을 쉽게 설정하는 방법입니다
Comment[ku]=Rêyek hêsanî jibo  veavakirina dîwarê te
Comment[ms]=Merupakan cara mudah mengkonfigur dinding api anda
Comment[nl]=Een eenvoudige manier om uw firewall in te stellen
Comment[pl]=Prosty sposób na skonfigurowanie swej zapory sieciowej
Comment[pt]=Uma forma fácil de configurar a sua "firewall"
Comment[pt_BR]=Um jeito fácil de configurar seu firewall
Comment[ro]=O cale mai ușoară pentru configurarea firewall-ului
Comment[ru]=Простой способ настроить ваш сетевой экран
Comment[si]=ඔබේ ගිනිපවුර වෙනස්කිරීමට පහසු මගක්
Comment[sl]=Enostaven način nastavitve vašega požarnega zidu
Comment[sv]=Ett lätt sätt att konfigurera din brandvägg
Comment[tr]=Güvenlik duvarınızı yapılandırmanın kolay bir yolu
Comment[uk]=Простий спосіб налаштувати ваш брандмауер
Comment[zh_CN]=配置防火墙的简单方法
Comment[zh_TW]=簡單設定您的防火牆
Categories=GNOME;GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Exec=gufw
Icon=gufw
Terminal=false
Type=Application
X-GNOME-Settings-Panel=gufw
X-Unity-Settings-Panel=gufw
X-Ubuntu-Gettext-Domain=gufw
